# Created by https://www.toptal.com/developers/gitignore/api/django,visualstudiocode,visualstudio,pycharm,python
# Edit at https://www.toptal.com/developers/gitignore?templates=django,visualstudiocode,visualstudio,pycharm,python

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.idea/
*.pyc
